.blog-tags a {
    color: #404040;
    text-decoration: none;
    padding: 2px 6px;
    background-color: #F5F5F5;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
}
.blog-tags a:before {
    content: unset;
}

.blog-tags a:hover {
    color: #0085a1;
    background-color: #DCDCDC;
}